.about-block-bg {
  background-color: $c-about-block-bg;
}

.about-block-wrapper {
  display: flex;
  flex-wrap: wrap;

  .about-block-one-third {
    width: 28%;
    padding: 150px 35px;
  }

  .about-block-title {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 55px;
    color: $c-about-block-title-text;
    padding-bottom: 50px;
  }

  .about-block-subtitle {
    color: $c-about-block-subtitle-text;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0;
  }

  .about-block-experience-title {
    font-size: 32px;
    font-weight: 700;
    color: $c-about-block-experience-title-text;
    padding-bottom: 50px;
  }

  .about-block-description {
    font-size: 16px;
    font-weight: 400;
    color: $c-about-block-experience-description-text;
    padding: 30px 0;
  }

  .about-block-bg-img {
    background-image: url(assets/images/portfolio-5.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}