.call-to-action-bg {
  background-color: $c-call-to-action-bg;
}

.call-to-action-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;

  .call-to-action-title-wrapper{
    flex-basis: 30%;
  }

  .call-to-action-quote {
    text-align: right;
    flex-basis: 20%;

    .quote-text {
      font-size: 21px;
      display: block;
      font-style: italic;
      padding-bottom: 25px;
    }
  }

  .call-to-action-title {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -1px;
    color: $c-call-to-action-title;

    .call-toaction-highlighted {
      color: $c-call-to-action-highlighted;
    }
  }
 }