.btm-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;

  .btm-banner-text-wrapper {
    flex-basis: 30%;

    .btm-banner-title{
      font-size: 48px;
      font-weight: 700;
      padding-bottom: 35px;
    }
  }

  .btm-banner-image-wrapper {
    position: relative;

    .btm-banner-logo {
      position: absolute;
      right: 0;
    }

    .btm-banner-image {
      bottom: 0;
    }
  }
 }