.btm-banner-bg {
  background-image: url('assets/images/architect6-cta-pic2.webp');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.btm-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;

  .btm-banner-text-wrapper {
    flex-basis: 40%;

    .btm-banner-title{
      font-size: 48px;
      font-weight: 700;
      padding-bottom: 35px;
    }
  }

  .btm-banner-image-wrapper {

    .btm-banner-logo {}
  }
 }