.contact-form {
  padding-top: 25px;
}

.contact-form-input-title {
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  color: $c-contacts-form-input-title;
}

#firstName, #lastName, #email {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background: none;
  border-bottom: 1px solid $c-contact-form-input-border !important;
  border: unset;
  color: $c-contact-form-input-text;
  font-size: 16px;
  transition: border-color 0.2s ease;
  margin-bottom: 25px;

  &:focus {
    outline: none;
    border-bottom: 1px solid $c-contact-form-input-border-focused !important;
  }
}

.input-error {
  color: $c-contact-form-input-error;
  font-size: 14px;
  font-style: italic;
  padding-bottom: 25px;
}