.header {
  display: flex;
  background-color: $c-header-bg;
  justify-content: space-between;

  .header-menu {
    color: $c-header-text;
    font-size: 15px;
    display: flex;

    @media (max-width: $screen-sm-max) {
      display: none;
    }

    .header-menu-item {
      padding: 35px 20px;
    }
  }
}