.intro-bg {
  background-color: $c-intro-section-bg;
}

.intro-section-wrapper {
  padding: 100px 0;
  display: flex;

  .intro-image-section {
    flex-basis: 55%;
    margin-right: 35px;
    background-image: url('assets/images/home-pic-1-774x1200.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (max-width: $screen-sm-max) {
      display: none;
    }
  }

  .intro-info-section {
    flex-basis: 45%;

    @media (max-width: $screen-sm-max) {
      flex-basis: 100%;
    }
  }

  .intro-title {
    color: $c-intro-title-text;
    font-size: 48px;
    line-height: 55px;
    font-weight: 700;
    letter-spacing: -1px;
    padding: 0 0 100px 0;
  }

  .second-title {
    color: $c-intro-second-title-text;
    padding-bottom: 30px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
  }

  .intro-description {
    color: $c-intro-description-text;
    font-size: 16px;
    padding-bottom: 100px;
  }

  .intro-counter-projects {
    border-top: 1px solid $c-intro-section-counter-border;
    padding-bottom: 100px;

    .counter-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 25px 0;
      border-bottom: 1px solid $c-intro-section-counter-border;
    }
    .counter-number {
      color: $c-intro-section-counter-title;
      font-size: 67px;
      font-weight: 700;
    }
  }
}