.socials {
  display: flex;
  gap: 10px;

  .social-icon {
    width: 48px;
    height: 48px;
    border: 1px solid $c-socials-icon-border;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;

    &:hover {
    background: $c-socials-icon-hover-bg;
  }

    .icon-link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

    .social-svg {
      width: 24px;
      height: 24px;
      padding: 0;
      color: $c-socials-icon;
    }
  }
}
