// settings
@import "settings/fonts";
@import "settings/colors";
@import "settings/variables";

// mixins

// generic
@import "generic/base";

// elements
@import "elements/container";
@import "elements/button";

// components
@import "components/header";
@import "components/footer";
@import "components/sm-title";
@import "components/intro-section";
@import "components/action-block";
@import "components/bottom-banner";
@import "components/socials";
@import "components/contacts";
@import "components/contact-form";
@import "components/gallery";
@import "components/heading";
@import "components/achievements";