$c-black: #000000;
$c-black-2: #161922;
$c-black-3: #25282A;
$c-white: #ffffff;
$c-white-2: #F5F3EF;
$c-gold-1: #d9ba53;

$c-header-bg: $c-black;
$c-header-text: $c-white;

$c-small-title-text: $c-black-2;

$c-intro-title-text: $c-black-2;
$c-intro-second-title-text: $c-black-2;
$c-intro-description-text: $c-black-2;
$c-intro-section-bg: $c-white-2;
$c-intro-section-counter-title: $c-black-3;
$c-intro-section-counter-text: $c-black-3;
$c-intro-section-counter-border: $c-black-3;

$c-button-border: $c-black-3;
$c-button-text: $c-black-3;
$c-button-secondary-hover: $c-gold-1;

$c-call-to-action-bg: $c-white-2;
$c-call-to-action-title: $c-black-3;
$c-call-to-action-highlighted: $c-gold-1;