$c-black: #000000;
$c-white: #ffffff;
$c-black-2: #161922;

$c-header-bg: $c-black;
$c-header-text: $c-white;

$c-small-title-text: $c-black-2;

$c-intro-title-text: $c-black-2;
$c-intro-second-title-text: $c-black-2;
$c-intro-description-text: $c-black-2;