$c-black: #000000;
$c-black-2: #161922;
$c-black-3: #25282A;
$c-black-4: #c0c0c0;
$c-black-5: #1A1C1D;
$c-white: #ffffff;
$c-white-2: #F5F3EF;
$c-gold-1: #d9ba53;
$c-gold-2: #cba51b;
$c-grey-1: #48494A;
$c-grey-2: #8D9691;

$c-header-bg: $c-black;
$c-header-text: $c-white;

$c-small-title-text: $c-black-2;

$c-intro-title-text: $c-black-2;
$c-intro-second-title-text: $c-black-2;
$c-intro-description-text: $c-black-2;
$c-intro-section-bg: $c-white-2;
$c-intro-section-counter-title: $c-black-3;
$c-intro-section-counter-text: $c-black-3;
$c-intro-section-counter-border: $c-black-3;

$c-button-border: $c-black-3;
$c-button-text: $c-black-3;
$c-button-secondary-hover: $c-gold-1;
$c-button-primary-bg: $c-gold-1;
$c-button-primary-text: $c-black-3;
$c-button-primary-hover-bg: $c-gold-2;

$c-call-to-action-bg: $c-white-2;
$c-call-to-action-title: $c-black-3;
$c-call-to-action-highlighted: $c-gold-1;

$c-footer-border: $c-black-4;
$c-footer-title-text: $c-black-3;
$c-footer-phone-text: $c-black-3;
$c-footer-adress-text: $c-black-3;
$c-footer-credits-text: $c-black-3;

$c-socials-icon-border: $c-black-3;
$c-socials-icon-hover-bg: $c-gold-1;
$c-socials-icon: $c-black-3;
$c-socials-icon-fill-white: $c-white;
$c-socials-icon-fill-black: $c-black-3;

$c-contacts-bg: $c-black-5;
$c-contacts-border: $c-grey-1;
$c-contacts-item-title: $c-grey-2;
$c-contacts-border: $c-grey-2;
$c-contacts-address-text: $c-white;
$c-contacts-form-title: $c-white;
$c-contacts-form-input-title: $c-white;
$c-contact-form-input-border: $c-grey-2;
$c-contact-form-input-border-focused: $c-gold-1;
$c-contact-form-input-text: $c-white;
$c-contact-form-input-error: $c-white;

$c-gallery-title-text: $c-black-2;

$c-heading-wrapper-bg-light: $c-white-2;
$c-heading-wrapper-bg-dark: $c-black-5;
$c-heading-title-text: $c-black-2;
$c-heading-text-highlight: $c-gold-1;

$c-btm-banner-border: $c-grey-2;